<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/core/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a href="home" class="navbar-brand">RegistAPP</a>
        </div>
    </nav>
    <div>
        <div class="container mt-5">
            <h2>Clase Programación Movil</h2>
            <a href="clase2" class="btn btn-success">Volver QR</a>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Rut</th>
                        <th>Nombre Alunmno</th>
                        <th>Apellido Alunmno</th>
                        <th>Carrera</th>
                        <th>Asistencia</th>
                    </tr>
                </thead>
                <tbody>
                    {% for alu in alumno %}
                    <tr>
                        <td>{{alu.rut}}</td>
                        <td>{{alu.nombre}}</td>
                        <td>{{alu.apellido}}</td>
                        <td>{{alu.carrera}}</td>
                        <td><input type="radio" name="asistencia" id="justificado" value="1"><label for="justificado">Justificado</label>
                            <input type="radio" name="asistencia" id="ausente" value="2" checked><label for="ausente">Ausente</label>
                            <input type="radio" name="asistencia" id="presente" value="3"><label for="presente">Presente</label>
                        </td>
                        <td></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div>
                <button class="btn btn-primary" type="submit" id="guardarasist">Guardar Clase</button>
                <button class="btn btn-danger" type="submit" onclick="location.href='home'">Finalizar Clase</button>
            </div>
        </div>
    </div>
</body>
<script>
    document.getElementById('guardarasist').onclick = function(){
        alert('Asistencia Guardada');
    }
</script>
<script src="../../static/core/js/bootstrap.js"></script>
</html>