<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/core/css/bootstrap.min.css">
    <title>Registro Asistencia</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a href="home" class="navbar-brand">RegistAPP</a>
            </div>
            <div class="container">
                <a href="accounts/login/" class="navbar-brand" style="padding-left: 1100px;">Cerrar Sesion</a>
            </div>
        </nav>
    </header>
    <div>
        <div class="container mt-5">
            <h2>Clase Programación Movil</h2>
            <a href="clase1" class="btn btn-success">Volver QR</a>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Rut</th>
                        <th>Nombre Alunmno</th>
                        <th>Apellido Alunmno</th>
                        <th>Carrera</th>
                        <th>Asistencia</th>
                    </tr>
                </thead>
                <tbody id="alumnos-table">
                    {% for alu in alumno %}
                    <tr>
                        <td>{{alu.rut}}</td>
                        <td>{{alu.nombre}}</td>
                        <td>{{alu.apellido}}</td>
                        <td>{{alu.carrera}}</td>
                        <td>
                            <input type="checkbox" name="asistencia" id="justificado_{{ forloop.counter }}" value="1">
                            <label for="justificado_{{ forloop.counter }}">Justificado</label>
                            <input type="checkbox" name="asistencia" id="ausente_{{ forloop.counter }}" value="2" checked>
                            <label for="ausente_{{ forloop.counter }}">Ausente</label>
                            <input type="checkbox" name="asistencia" id="presente_{{ forloop.counter }}" value="3">
                            <label for="presente_{{ forloop.counter }}">Presente</label>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div>
                <button class="btn btn-primary" type="submit" id="guardarasist">Guardar Clase</button>
                <button class="btn btn-danger" type="submit" onclick="location.href='home'">Finalizar Clase</button>
            </div>
        </div>
    </div>
</body>
<script>
    document.getElementById('guardarasist').onclick = function(){
        alert('Asistencia Guardada');
    }
</script>
<script src="../../static/core/js/bootstrap.js"></script>
<script src="../../static/core/js/radiobutton.js"></script>
</html>