<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/core/css/bootstrap.min.css">
    <title>Escaneo QR</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a href="home" class="navbar-brand">RegistrAPP</a>
            </div>
            <div class="navbar-nav ml-auto">
                <a href="salir" class="navbar-brand">Cerrar Sesion</a>
            </div>
        </nav>
    </header>
    </header>
    <form method="post">
        {% csrf_token %}
    </form>
    <h3 style="text-align: center;">QR Modelamiento de Base de Datos</h3>
    <div class="input-group mb-3">
        
        <div style="margin: auto">
            
            {{svg|safe}}
        
        </div>
    </div>
    <div>


    </div>
    <div style="text-align: center;">
        <a href="asist2" class="btn btn-success">Continuar</a>
    </div>
</body>

<script src="../../static/core/js/bootstrap.js"></script>
</html>