<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/core/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a href="home" class="navbar-brand">RegistAPP</a>
            </div>
        </nav>
        <div style="text-align: center;">
            <img src="../../static/core/img/Java.png" alt="">
        </div>
        <div style="text-align: center;">
            <a href="asist2"class="btn btn-success">Continuar</a>
        </div>
    </header>
</body>
<script src="../../static/core/js/bootstrap.js"></script>
</html>