<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/core/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a href="home" class="navbar-brand">RegistAPP</a>
            </div>
            <div class="container">
                <a href="accounts/login/" class="navbar-brand" style="padding-left: 1100px;">Cerrar Sesion</a>
            </div>
        </nav>
    </header>
    <div style="text-align: center;">
        <img src="../../static/core/img/codigo_qr.png" alt="">
    </div>
    <div style="text-align: center;">
        <a href="asistencia" class="btn btn-success">Continuar</a>
    </div>
</body>
<script src="../../static/core/js/bootstrap.js"></script>
</html>