<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/core/css/bootstrap.min.css">
    <title>Escaneo QR</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a href="home" class="navbar-brand">RegistAPP</a>
            </div>
            <div class="container">
                <a href="#" class="navbar-brand" style="padding-left: 1100px;">Cerrar Sesion</a>
            </div>
        </nav>
    </header>
    <form method="post">
        {% csrf_token %}
        <h3 style="text-align: center;">Enter any text to generate a QR code</h3>
        <div class="input-group mb-3">
            <span class="input-group-text"
                id="inputGroup-sizing-default">QR Code Text:</span>
            <input type="text" class="form-control" aria-describedby="inputGroup-sizing-default" name="qr_text" autofocus>
        </div>
        <div class="input-group mb-3">
            <input type="submit" style="max-width: 200px; margin: auto" class="form-control">
        </div>
    </form>
    <div class="input-group mb-3">
        <div style="margin: auto">
            
            {{svg|safe}}
        
        </div>
    </div>
    <div>


    </div>
    <div style="text-align: center;">
        <a href="asistencia" class="btn btn-success">Continuar</a>
    </div>
</body>

<script src="../../static/core/js/bootstrap.js"></script>
</html>