{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/core/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/core/css/home.css">
    <script src="../../static/core/js/validador.js"></script>
    <title>Inicio</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a href="home" class="navbar-brand">RegistrAPP</a>
            </div>
            <div class="navbar-nav ml-auto">
                <a href="salir" class="navbar-brand">Cerrar Sesion</a>
            </div>
        </nav>
    </header>
    <div class="container mt-5">
        <h2>Clases Asignadas</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID Clase</th>
                    <th>Clases</th>
                    <th>Secciones</th>
                    <th>Sala</th>
                    <th>Iniciar Clase</th>
                </tr>
            </thead>
            <tbody>
                {% for asi in asignaturas %}
                <tr>
                    <td>{{asi.id}}</td>
                    <td>{{asi.nombre}}</td>
                    <td>{{asi.seccion}}</td>
                    <td>{{asi.sala}}</td>
                    <td><button class="btn btn-success iniciar-clase" data-id="{{ asi.id }}">Iniciar Clase</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>
<script>
    // Agregar un escuchador de clics a los botones de "Iniciar Clase"
    document.querySelectorAll('.iniciar-clase').forEach(function(button) {
        button.addEventListener('click', function() {
            // Obtener el ID de la clase asociada al botón
            var claseId = button.getAttribute('data-id');
            
            // Construir la URL con el ID de la clase
            var url = '/clase' + claseId;  // Ajusta la ruta según tu configuración
            window.location.href = url;  // Redirigir al usuario
        });
    });
</script>
</script>
<script src="../../static/core/js/bootstrap.js"></script>
</html>