{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/core/css/bootstrap.min.css">
    <script src="../../static/core/js/validador.js"></script>
    <title>Inicio</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a href="home" class="navbar-brand">RegistAPP</a>
            </div>
            <div class="container">
                <a href="accounts/login/" class="navbar-brand">Cerrar Sesion</a>
            </div>
        </nav>
    </header>
    <div class="container mt-5">
        <h2>Clases Asignadas</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Clases</th>
                    <th>Secciones</th>
                    <th>Sala</th>
                    <th>Iniciar Clase</th>
                </tr>
            </thead>
            <tbody>
                {% for asi in asignaturas %}
                <tr>
                    <td>{{asi.nombre}}</td>
                    <td>{{asi.seccion}}</td>
                    <td>{{asi.sala}}</td>
                    <td><button class="btn btn-success" onclick="iniciarClase('{{ asi.id }}')" type="submit">Iniciar Clase</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        function iniciarClase(claseId) {
            if (claseId === 'clase1') {
                window.location.href = "clase1.html";
            } else if (claseId === 'clase2') {
                window.location.href = "clase2.html";
            } else {
                console.error('ID de clase no reconocido');
            }
        }
    </script>
</body>
<script src="../../static/core/js/bootstrap.js"></script>
</html>