<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/core/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a href="home" class="navbar-brand">RegistAPP</a>
            </div>
        </nav>
    </header>
    <div>
        <div id="qrCodeContainer"></div>
        <a href="asistencia" class="btn btn-success">Continuar</a>
    </div>
    <script>
        const data = "Tu_informacion_a_codificar"; 
        const apiUrl = "http://127.0.0.1:8000/api/generate-qr/" + data;

        fetch(apiUrl)
            .then(response => response.json())
            .then(data => {
                const qrCodeElement = document.createElement('img');
                qrCodeElement.src = 'data:image/png;base64,' + data.qr_code; 
                document.getElementById('qrCodeContainer').appendChild(qrCodeElement);
            })
            .catch(error => console.error('Error al obtener el código QR', error));
    </script>
</body>
<script src="../../static/core/js/bootstrap.js"></script>
</html>